//colors

$bg_green: #1d212a;
$bg_light_green: #156973;
$bg_violet: #32385a;
$bg_light_violet: rgb(89, 61, 111);

// text colors , acent color
$light_green: #6f939c;
$bright_green: #07c0b6;
$green: #068a89;
$dark_green: #1b313e;

$light_violet: #9175cb;
$bright_violet: #e762dc;
$violet: #b87cb9;
$dark_violet: #3b316e;
